#!version:1.0.0.1

account.1.password = securepassword1
account.2.password = securepassword2    
account.1.100rel_enable = 1
account.1.auth_name = sip_12345678
account.1.codec.pcmu.enable = 0
account.1.codec.pcma.priority = 1
account.1.codec.g729.enable = 0
account.1.codec.g722.enable = 0
account.1.display_name = Cordless1Display
account.1.enable = 1
account.1.enable_user_equal_phone = 1
account.1.label = Cordless1
account.1.register_line = 1
account.1.register_mac = 1
account.1.session_timer.enable = 1
account.1.session_timer.expires = 180
account.1.sip_server.1.address = 10.4.1.131
account.1.sip_server.1.expires = 600
account.1.sip_server.1.transport_type = 1
account.1.unregister_on_reboot = 1
account.1.user_name = +61212345678
account.1.vq_rtcpxr.collector_name = SBC
account.1.vq_rtcpxr.collector_server_host = 10.4.1.131
account.2.100rel_enable = 1
account.2.auth_name = sip_61212345679
account.2.codec.pcmu.enable = 0
account.2.codec.pcma.priority = 1
account.2.codec.g729.enable = 0
account.2.codec.g722.enable = 0
account.2.display_name = Cordless2Display
account.2.enable = 1
account.2.enable_user_equal_phone = 1
account.2.label = Cordless2
account.2.nat.rport = 1
account.2.register_line = 1
account.2.register_mac = 1
account.2.session_timer.enable = 1
account.2.session_timer.expires = 180
account.2.sip_server.1.address = 10.4.1.131
account.2.sip_server.1.expires = 600
account.2.sip_server.1.transport_type = 1
account.2.unregister_on_reboot = 1
account.2.user_name = +61212345679
account.2.vq_rtcpxr.collector_name = SBC1
account.2.vq_rtcpxr.collector_server_host = 10.4.1.131
alarm.1.name = Button
alarm.1.trigger_delay = 1
alarm.1.type = 1
call_waiting.enable = 0
handset.1.alarm.number = 123456
handset.1.alarm.template = 1
handset.1.incoming_lines = 1,2
handset.1.ipui = 039138C8EF
handset.1.name = 2NSW Handset 1
handset.2.incoming_lines = 1,2
handset.2.ipui = 03913E6276
handset.2.name = 2NSW Handset 2
phone_setting.emergency.number = 000,46811
sip.reg_surge_prevention = 6
###  Static Configuration  ###
static.auto_provision.inactivity_time_expire = 2
static.auto_provision.repeat.minutes = 1441
static.auto_provision.weekly.begin_time = 22:00
static.auto_provision.weekly.dayofweek = 012345
static.auto_provision.weekly.enable = 1
static.auto_provision.weekly.end_time = 06:00
static.network.ipv6_icmp_v6.enable = 0
static.network.port.max_rtpport = 32767
static.network.port.min_rtpport = 16384
static.network.qos.audiotos = 45
static.network.qos.signaltos = 27
static.station.mode = 0