#!version:1.0.0.1

account.1.password = myverysecurepassword
account.1.auth_name = sip_username
account.1.codec.pcmu.enable = 0
account.1.codec.pcmu.priority = 0
account.1.codec.pcma.priority = 1
account.1.codec.g729.enable = 0
account.1.codec.g729.priority = 0
account.1.codec.g722.enable = 0
account.1.codec.g722.priority = 0
account.1.display_name = Line1Display
account.1.enable = 1
account.1.enable_user_equal_phone = 1
account.1.label = Line1ActiveLabel
account.1.nat.rport = 1
account.1.register_line = 1
account.1.register_mac = 1
account.1.session_timer.enable = 1
account.1.session_timer.expires = 180
account.1.sip_server.1.address = 10.4.1.1
account.1.sip_server.1.transport_type = 1
account.1.sip_server.1.expires = 600
account.1.user_name = +61211112222
account.1.vq_rtcpxr.collector_name = SBC
account.1.vq_rtcpxr.collector_server_host = 10.4.1.1
call_waiting.enable = 0
features.call_log_show_num = 2
local_time.ntp_server1 = primary.ntp.internal
local_time.ntp_server2 = secondary.ntp.internal
local_time.time_zone = +10
local_time.time_zone_name = Australia(Sydney,Melbourne,Canberra)
phone_setting.vq_rtcpxr.interval_report.enable = 1
phone_setting.vq_rtcpxr.session_report.enable = 1
sip.reg_surge_prevention = 5
voice.rtcp_xr.enable = 1
###  Static Configuration  ###
static.network.port.max_rtpport = 32767
static.network.port.min_rtpport = 16384
