POSTGRES_DB=phone_provisioning
POSTGRES_USER=phone_provisioning
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
BACKEND_IMAGE=phone-provisioning-backend:local
FRONTEND_IMAGE=phone-provisioning-frontend:local
BACKEND_PORT=8000
FRONTEND_PORT=9000
